@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/1.5 Lato, Arial, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #f00;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #000;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header .banner img {
  width: 100%
}

.banner {
  background: url(../images/banner.jpg ) no-repeat 50% 0;
  background-size: cover;

}

.header .banner {
  min-height: 100vh;

}

.about__content {
  height: 475px;
  padding: 0 240px;
  padding-top: 120px;
  background-color: #f7f7f7;
}

.about__content img {
  margin-bottom: 32px;
}

.about__content {
  text-align: center;
}

.heading-top {
  text-transform: uppercase;
  font: 700 18px/1.5 Lato, Arial, Tahoma, sans-serif;
  letter-spacing: 5px;
}

.heading-top h2 {
  text-transform: uppercase;
  font: 400 18px/1.5 Lato, Arial, Tahoma, sans-serif;
  letter-spacing: 5px;
}

.heading-top p {

  font: 400 18px/1.5 Lato, Arial, Tahoma, sans-serif;

}

.heading-top p {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 2em;
  color: #9b9d9f;
}

.header .container {
  position: relative;
}

.header .navigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 35px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.navigation .menu {
  display: flex;
  align-items: center;

}

.navigation .left-navigation {
  justify-content: flex-end;

}

.logo img {
  width: 94px;
  margin: 0 27px;
}

.logo {
  flex-shrink: 0;
}

.navigation .menu {
  width: calc(50% -74px);
  flex-grow: 1;

}
 .menu a {
   color: #4d4959;
   font-size: 13px;
   text-transform: uppercase;
   font-weight: 700;
   padding: 5px 35px;
   display: block;
 }

.menu li {
  position: relative;

}

.menu li + li::before {
content: '.';
position: absolute;
left: 0;
bottom: 5px;
color: #4d4959;
}

.logo .mobile, .menu-bottom {
display: none;
}

@media (max-width: 1024px;) {
  .logo .mobile, .menu-bottom {
    display: none;
    }
.navigation-wrapper {
  display: none;
}


}


