@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/1.5 Lato, Arial, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #f00;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #000;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header .banner img {
  width: 100%
}

.banner {
  background: url(../images/banner.jpg ) no-repeat 50% 0;
  background-size: cover;
}

.header .banner {
  min-height: 100vh;
}

.about {
  width: 100%;
  height: 470px;
  background-color: #f7f7f7
}

.about img {
  position: relative;
  padding-top: 118px;
  left: 50%;
  transform: translateX(-50%);
}

.about h3 {
  text-align: center;
  padding-top: 35px;
  line-height: 34px;
}

.about p {
  text-align: center;
  color: #848789;
  padding: 35px 150px 0;
  line-height: 34px;
}

.header .container {
  position: relative;
}

.header .navigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 35px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navigation .menu {
  display: flex;
  align-items: center;
}

.navigation .left-navigation {
  justify-content: flex-end;
}

.logo img {
  width: 94px;
  margin: 0 27px;
}

.logo {
  flex-shrink: 0;
}

.navigation .menu {
  width: calc(50% -74px);
  flex-grow: 1;
}

.menu a {
  color: #4d4959;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 35px;
  display: block;
}

.menu li {
  position: relative;
}

.menu li+li::before {
  content: '.';
  position: absolute;
  left: 0;
  bottom: 5px;
  color: #4d4959;
}

.logo-mobile, .menu-bottom, .close-menu {
  display: none;
}

.close-menu {
  width: 32px;
  height: 32px;
  background: url("../images/close.png") no-repeat 50% 50%;
  background-size: 32px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: .3s;
}

.close-menu:hover {
  transform: rotate(-90deg);
}

.menu-bottom {
  cursor: pointer;
}

.menu-bottom img {
  width: 32px;
}

.logo-mobile img {
  width: 65px;
}

@media (max-width: 1024px) {
  .logo-mobile, .menu-bottom, .close-menu {
    display: block;
  }

  .navigation-wrapper .logo {
    display: none;
  }

  .navigation-wrapper {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    padding: 80px 0 40px;
    width: 320px;
    background: #fff;
    right: -110%;
    top: 0;
    box-shadow: -2px 0 6px 1px rgba(50, 50, 50, .3);
    display: block;
    transition: .5s;
  }

  .navigation-wrapper.active {
    right: 0;

  }

  .navigation-wrapper .menu {
    display: block;
    width: 100%;
    text-align: right;
  }

  .navigation-wrapper .menu li::before {
    display: none;
  }

  .navigation-wrapper .menu a {
    font-size: 16px;
    padding: 10px 20px;
  }

  .header .navigation {
    justify-content: space-between;
    padding: 15px;
  }

}